* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,75,105,1) 35%, rgba(35,70,115,0.927608543417367) 100%);

}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: auto;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
      height: auto;
    }
  }

.form-box {
    width: 380px;
   height: 850px;
    position: relative;
    margin: 6% auto;
    background: #e6e6e7;
    padding: 5px;
    overflow: hidden;
      border-radius: 20px;
}


.button-box {
    width: 250px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #909394 ;
    border-radius: 30px;
}
/*#FF61241F
#8b9496*/
.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#Spec{
  color: #696969;
  font-size: 85%;
}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(to right, Turquoise ,blue);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, Turquoise ,blue);
    border: 0;
    outline: none;
    border-radius: 30px;
}


.login-btn {
    width: 65%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.checkbox {
    margin: 30px 10px 30px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
}
#customer{
   left: 50px;
}
#technician{
   left: 450px;
}
.link{
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    margin: 5px;
    width: 50%;
}

p{
padding: 5%;
padding-left: 45%;}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
    margin-left: 38%;
  }

  a:visited {
    color: black;}
